<div>
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#">Strona główna</a>
                    <a href="#">Lista ofert</a>
                    <a href="#">Dodaj ofertę</a>
                    <a href="#">O nas</a>
                    <a href="#">Kontakt</a>
                </p>
                <p class="asd">All Rights Reserved. &copy; @DateTime.UtcNow.Year <a href="#">Kubrakowo</a></p>
            </div>
        </div>
    </div>
</div>