@namespace Kubrakowo.WebApp.Shared
@inherits LayoutComponentBase
<div>
    <div class="navigation">
        <NavMenu />
    </div>
    <div class="page-content px-4">
        @Body
        <RadzenButton Text="asd"></RadzenButton>
    </div>
</div>
