@namespace Kubrakowo.WebApp.Shared
@inherits LayoutComponentBase

    <RadzenDialog />
    <RadzenNotification />
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="content px-4">
            @Body
            <RadzenButton Text="asd"></RadzenButton>
        </div>
    </div>
