@namespace Kubrakowo.WebApp.Shared
@inherits LayoutComponentBase

<div class="navigation">
    <NavMenu />
</div>
<RadzenNotification></RadzenNotification>
<div class="page-content px-4">
    <div class="page-gdt">
        @Body
    </div>
</div>
<div class="footer-std">
    <Footer />
</div>

