<ul class="nav justify-content-start nav-menu">
    <li class="nav-item">
        <a class="nav-link" href="">Kokpit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="imports">Importowanie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="vehicles">Pojazdy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="vehicle-cards">Karty pojazdów</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="dictionaries">Słowniki</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="facsimiles">Podpisy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="documents">Dokumenty</a>
    </li>
</ul>
