@page "/o-nas"

<div class="wrapper-about-us d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="d-flex justify-content-center" style="width: 800px; height: 500px; background-color: white; flex-wrap: wrap;">
        <div style="margin-top:30px; font-weight:700;font-size:73px; height: 0;">O nas</div>
        <div style="margin: 0 20px; display: flex; justify-content: center; text-align: center; font-size:19px;">
            Powstaliśmy jako startup założony na bazie pracy inżynierskiej w 2021 roku. Ze względu na brak konkurencyjnego
            portalu do sprzedaży odzieży postanowiliśmy wyjść rynkowi na przeciw. Jako platforma za cel stawiamy sobie trafienie do jak największej rzeszy klientów przy jednoczoesnym indywidualnym podejściu do każdego z klientów. Nie czekaj, zamieść u nas ogłoszenie już dziś.
        </div>
    </div>

</div>

@code {

}
