@page "/"
@using Kubrakowo.WebApp.Domain
@using Kubrakowo.WebApp.Domain.Entities
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<Context> dbContext

<div>
    
</div>

@code {
    Offer offer;
} 