.wrapper-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        background: white;
        width: 40%;
        min-height: 500px;

        .item-wrapper {
            padding: 0 10px;
            margin: 20px 0;

            ::deep input {
                width: 100%;
            }
        }
    }
}

.main-title{
    display: flex;
    justify-content: center;

    .main-title-wrapper{
        font-size: 40px;
        margin: 20px;
    }
}
